@import "./styles/FormSquares.css";
@import "./styles/StatisticsSquares.css";

.App {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding: 2%;
}
.containerSelect {
  width: 20%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.containerSquares {
  padding-top: 20px;
  display: flex;
  justify-content: left;
  align-items: flex-start;
}
.selectMode {
  cursor: pointer;
  width: 140px;
  height: 25px;
  font-size: 16px;
}
.buttonStart {
  margin-left: 3%;
  width: 70px;
  height: 25px;
  background-color: #3273d1;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
